        .task2{border:1px solid yellowgreen;position:relative;}
        .more_div{width:400px; height: 300px;background-color: violet;}
        .position_relative{
            height: 100px;width:100px;position:relative;top:10px;left:0;background-color: rgb(236, 127, 127);z-index: 1;
        }
        .position_absolute{
            height: 100px;width:100px;position:absolute;top:50px;left:50px;background-color: rgb(0, 255, 21);
        }
        .position_sticky{
            height: 100px;width:100px;position:sticky;top:100px;left:100px;background-color: rgb(61, 9, 202);
        }
        .position_fixed{
            height: 100px;width:100px;position:fixed;top:200px;left:200px;background-color: red;
        }
        table{
            background-color: turquoise;border-collapse: collapse;
        }
        th,td{ padding:2px 10px;border:1px solid black;}
        .task4{margin:50px;padding:50px;}
        header{display: flex;}
        strong{
            color:brown;font-size: 25px;
        }
        .sementic{
            width:33%;background-color: burlywood; margin-left: 10px; padding: 10px;min-height: 1000px;
        }