        section{
            margin:15px 200px;
            padding:
            position:relative;

        }
        .esborder{
            border:1px solid gray;
        }
        .task2{
            border:1px solid yellowgreen;
            position:relative;
            background-color: goldenrod;
            z-index: 2;
        }
        .more_div{width:50%;
             height: 300px;
             background-color: violet;
            padding:10px;
            }
        .position_box{
            border-radius:30px;
            padding:10px;
            color:white;
            text-align: center;
            
        }
        .position_relative{
            height: 100px;
            width:100px;
            position:relative;
            top:10px;
            right:0px;
            padding: 10px;
            background-color: rgb(236, 127, 127);
            z-index: 1;
        }
        .position_sticky{
            height: 100px;
            width:100px;
            position:sticky;
            top:-10px; /*top এর নিচে n px থাকতে মুভ হবে।  */
            left:50px; 
           /* right:1500px; বামে অতিক্রম করে না*/
            color:wheat;
            padding:10px;
            background-color: rgb(61, 9, 202);
        }
        .position_absolute{
            height: 100px;
            width:100px;
            position:absolute;
            top:50px;
            right:200px;
            background-color: rgb(144, 192, 148);
        }
       
        .position_fixed{
            height: 100px;
            width:100px;
            position:fixed;
            top:200px;
            right:50px;
            background-color: rgb(245, 137, 245);
            z-index:3;
        }
        .relandStiky{
            display:flex;
            margin-left:10px;
        }
        table{
            background-color: turquoise;border-collapse: collapse;
        }
        th,td{ padding:2px 10px;border:1px solid black;}

        .task4{margin:50px;padding:10px;}
       
        strong{
            color:brown;font-size: 25px;
        }
        header{display: flex;}
        .sementic{
             
             width:33%;
             background-color: burlywood;
             margin-left: 5px; 
             padding: 10px;
             height:200px;
             overflow: scroll;
        }